<!DOCTYPE html>
<html ng-app="pictureCarousel">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Picture Carousel Demo2</title>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="./assets/js/demo2.js"></script>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>

  <body ng-controller="CarouselCtrl">
    <div carousel interval="3000">
      <div slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin: auto;">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </div>
    </div>
    <br>
    <button ng-click="setActive(1)">Make second active</button>
  </body>

</html>